.todo-app {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 6px 4px 45px 7px rgba(34, 60, 80, 0.48);
  background-color: #f9f9f9;
  text-align: center;
}

.todo-app h1 {
  margin-bottom: 20px;
  color: #39e40a;
}

.input-section {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.todo-app input {
  flex: 1;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
}

.todo-app button {
  padding: 10px 20px;
  background-color: #4094ed;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 1s;
}

.todo-app button:hover {
  background-color: #4cae4c;
}

.clear-button {
  transition: all 2s;
  background-color: #d9534f;
  margin: 20px 0;
}

.clear-button:hover:hover {
  background-color: #fd1008;
}

.todo-app ul {
  list-style: none;
  padding: 0;
}

.todo-app li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #fff;
}

.todo-app li .delete {
  border:1px solid red;
  border-radius:3px;
  cursor: pointer;
  color: #f60e06;
  display: none;
}

.todo-app li:hover .delete {
  display: inline;
}
